In [1]:
import pandas as pd

In [4]:
truthTableAdder4Bit = 'TruthTableAdder4.csv'
dataFrameAdder4Bit = pd.read_csv(truthTableAdder4Bit)
dataFrameAdder4Bit

     a0  a1  a2  a3  b0  b1  b2  b3  out0  out1  out2  out3
0     0   0   0   0   0   0   0   0     0     0     0     0
1     0   0   0   0   0   0   0   1     0     0     0     1
2     0   0   0   0   0   0   1   0     0     0     1     0
3     0   0   0   0   0   0   1   1     0     0     1     1
4     0   0   0   0   0   1   0   0     0     1     0     0
..   ..  ..  ..  ..  ..  ..  ..  ..   ...   ...   ...   ...
251   1   1   1   1   1   0   1   1     1     0     1     0
252   1   1   1   1   1   1   0   0     1     0     1     1
253   1   1   1   1   1   1   0   1     1     1     0     0
254   1   1   1   1   1   1   1   0     1     1     0     1
255   1   1   1   1   1   1   1   1     1     1     1     0

[256 rows x 12 columns]